th{
	text-align: center;
	vertical-align: center;
	background-color: #FF0000;
	color: #fff;
}

/* boton ir arriba*/

.ir-arriba{
	display: none;
	padding: 20px;
	background-color: #CD0000;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/* mcabecera pegajoso*/

.menu-fixed{
	position: fixed;
	z-index: 10000;
	top: 60px;
}

/* scroll del dropdown */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.img{
	width: 800px;
	margin-left: 15%;
}

.boton{
	margin: 0 auto;
	width: 20%;
}
.boton11{
	float: right;
}

.boton1{
	 box-shadow:  3px  3px 3px #888888;
}
.botone{
	margin: 0 auto;
	width: 20%;
	margin-left:6em;
}

